@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-cream: var(--cream);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --base-50: oklch(0.9851 0.001 16.89);
  --base-100: oklch(0.9537 0.0021 17.2);
  --base-200: oklch(0.9224 0.0029 17.29);
  --base-300: oklch(0.8699 0.0034 17.49);
  --base-400: oklch(0.7085 0.0038 17.46);
  --base-500: oklch(0.5553 0.0041 18.02);
  --base-600: oklch(0.4408 0.004 18.51);
  --base-700: oklch(0.3721 0.0037 18.17);
  --base-800: oklch(0.2689 0.0032 17.47);
  --base-900: oklch(0.2086 0.0029 17.39);
  --base-950: oklch(0.1457 0.0027 16.84);
  --base-1000: oklch(0.1049 0.0021 17.02);

  --primary-50: oklch(0.9866 0 342.63);
  --primary-100: oklch(0.9619 0 341.68);
  --primary-200: oklch(0.9109 0 342.65);
  --primary-300: oklch(0.8328 0 345.41);
  --primary-400: oklch(0.7258 0 348.11);
  --primary-500: oklch(0.662 0 349.61);
  --primary-600: oklch(0.5963 0 353.8);
  --primary-700: oklch(0.5279 0 356.15);
  --primary-800: oklch(0.4608 0 357);
  --primary-900: oklch(0.409 0 357.62);
  --primary-950: oklch(0.2846 0 359.06);
  --primary-1000: oklch(0.1591 0 0);

  --background: var(--color-white);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-1000);
  --primary-foreground: var(--color-white);
  --secondary: var(--base-100);
  --secondary-foreground: var(--base-800);
  --muted: var(--base-50);
  --muted-foreground: var(--base-600);
  --accent: var(--base-50);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-1000);
  --chart-1: var(--primary-1000);
  --chart-2: var(--primary-200);
  --chart-3: var(--primary-400);
  --chart-4: var(--primary-300);
  --chart-5: var(--primary-100);
  --radius: 0.75rem;
  --sidebar: var(--base-100);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-1000);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-200);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-1000);
  --cream: var(--primary-50);
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-950);
  --card-foreground: var(--base-200);
  --popover: var(--base-950);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-1000);
  --primary-foreground: var(--color-white);
  --secondary: var(--base-800);
  --secondary-foreground: var(--base-200);
  --muted: var(--base-900);
  --muted-foreground: var(--base-400);
  --accent: var(--base-900);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-1000);
  --chart-1: var(--primary-1000);
  --chart-2: var(--primary-200);
  --chart-3: var(--primary-400);
  --chart-4: var(--primary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-1000);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-1000);
  --cream: var(--primary-1000);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .section-stripes {
    background-image: linear-gradient(
      45deg,
      color-mix(in oklch, var(--color-foreground) 75%, black) 0%,
      color-mix(in oklch, var(--color-foreground) 75%, black) 25%,
      var(--background) 25%,
      var(--background) 50%,
      color-mix(in oklch, var(--color-foreground) 75%, black) 50%,
      color-mix(in oklch, var(--color-foreground) 75%, black) 75%,
      var(--background) 75%,
      var(--background) 100%
    );
    background-size: 10px 10px;
    animation: stripe-animation 1s linear infinite;
  }

  /* For WebKit browsers (Chrome, Safari, Opera, Edge) */
  *::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge, and Firefox */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
